@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
:root {
  --fade-Blue: hsl(209, 23%, 22%);
  --Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

.container {
  min-height: 100vh;
}
.background-dark-mode {
  background-color: var(--Dark-Blue) !important;
}
.background-light-mode {
  background-color: var(--Very-Light-Gray);
}

.dark-mode {
  background-color: var(--fade-Blue) !important;
  color: var(--White) !important;
}
.light-mode {
  background-color: var(--White) !important;
  color: var(--Very-Dark-Blue) !important;
  box-shadow: 2px 2px 10px rgb(209, 203, 203);
  /* border:1px solid black; */
}

.country-api-error,
.page-not-found-heading {
  padding: 20vh 0;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  color: crimson;
  line-height: 1.5;
}

/* countries not found -------- */

.not-found {
  text-align: center;
  margin: 3rem auto;
  width: fit-content;
  font-size: 2rem;
}

/* page not founed --------- */

.page-not-found-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* for loader ------------ */

.loader {
  width: 64px;
  height: 64px;
  position: absolute;
  background-image: linear-gradient(#000 16px, transparent 0),
    linear-gradient(#ff3d00 16px, transparent 0),
    linear-gradient(#ff3d00 16px, transparent 0),
    linear-gradient(#000 16px, transparent 0);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left top, left bottom, right top, right bottom;
  animation: rotate 1s linear infinite;
  z-index: 1000;
  top: 40%;
  left: 48%;
}
@keyframes rotate {
  0% {
    width: 64px;
    height: 64px;
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
  }
  100% {
    width: 64px;
    height: 64px;
    transform: rotate(360deg);
  }
}

header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  background-color: var(--White);
}
header h1 {
  font-size: 1.5rem;
  font-weight: 800;
}
header .dark-mode-section {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-weight: 600;
  cursor: pointer;
}

main {
  min-height: calc(100vh - 10vh);
  padding: 15vh 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.search-filter-section {
  display: flex;
  justify-content: space-between;
}
.search-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 45%;
  justify-content: space-evenly;
  padding-inline: 1rem;
  background-color: var(--White);
  color: var(--Dark-Gray);
}
.search-section .search-logo {
  flex-basis: 7%;
  height: 50%;
  cursor: pointer;
  color: var(--Dark-Gray);
}
.search-section input {
  border: none;
  line-height: 2.8;
  flex-basis: calc(100% - 10%);
  font-size: 1rem;
  background: none;
}
.search-section input:focus {
  outline: none;
}
.filter-section {
  min-width: 20%;
  padding: 0 0.4rem;
  line-height: 2.8;
}
.filter-section select {
  width: 100%;
  height: 100%;
  padding-inline: 0.7rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background: none;
  box-shadow: none;
}
.filter-section select:focus {
  outline: none;
}

/* sort countries section -------- */

.sort-countries-section {
  /* border: 1px solid red; */
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 3rem;
}

/* country ----------- */

.flags-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  /* grid-template-rows: repeat(auto, min-content); */
  gap: 2rem;
  padding: 2rem;
}

.country-section {
  height: fit-content;
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
}

.country-flag-section {
  height: 25vh;
  border-radius: 10px 10px 0 0;
}

.country-flag-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}
.country-info-section {
  padding: 2rem 1rem;
  line-height: 1.5;
  color: var(--Very-Dark-Blue);
  font-weight: 600;
  border-radius: 0 0 10px 10px;
}
.country-info-section h1 {
  font-weight: 800;
  font-size: 1rem;
}
.country-info-section span {
  font-weight: 300;
}

/* .country-info-section h1 {
   padding-top:12vh;
  font-size: 2rem;
} */

.back-to-home-section {
  height: 5vh;
  width: fit-content;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
/* individual country section page --------- */
.country-page-section {
  min-height: 40vh;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.country-page-section .image-section {
  width: 40%;
  height: 40vh;
}
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.country-info-page-section {
  width: 43%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.country-info-page-section .country-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.country-details p {
  display: flex;
  gap: 0.4rem;
}
.background-dark-mode .country-page-section .image-section {
  box-shadow: none;
}
.background-dark-mode .country-info-page-section {
  color: var(--White) !important;
}
.country-info-page-section span {
  font-weight: 800;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.border-countries .borders {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}
.borders h1 {
  font-size: 1rem;
  color: red;
}
.borders button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
}

.background-dark-mode .not-found {
  color: var(--White);
}

@media screen and (max-width: 1390px) {
  .flags-container {
    grid-template-columns: repeat(4, 23%);
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 1280px) {
  .flags-container {
    grid-template-columns: repeat(auto-fit, 29%);
  }
}

@media screen and (max-width: 1111px) {
  .flags-container {
    grid-template-columns: repeat(auto-fit, 30%);
  }
  main {
    padding: 15vh 1rem 1rem 2rem;
  }
  .country-page-section {
    justify-content: space-around;
  }
  .country-info-page-section {
    width: 50%;
  }
  .country-info-page-section .country-details {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 710px) {
  .flags-container {
    grid-template-columns: repeat(2, 48%);
  }
  main {
    padding: 15vh 2rem 2rem 2rem;
  }
  .search-filter-section {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .search-section {
    width: 100%;
  }
  .filter-section {
    width: 50%;
    padding: 0.5rem;
  }
  .search-section .search-logo {
    flex-basis: 5%;
  }
  .sort-countries-section {
    flex-direction: column;
    align-items: start;
  }
  .country-page-section {
    flex-direction: column;
  }
  .country-page-section .image-section {
    width: 100%;
  }
  .country-info-page-section {
    width: 100%;
  }
  .country-info-page-section .country-details {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1rem;
  }
  .flags-container {
    grid-template-columns: 70%;
    justify-content: center;
  }
  .filter-section {
    width: 100%;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  header {
    padding: 0 1rem;
  }
  .flags-container {
    grid-template-columns: 90%;
  }
}
